<div class="banner banner-overlay position-relative">
  <% if @recipe.photo.attached? %>
    <%= cl_image_tag @recipe.photo.key,
      crop: "fill", class: "banner-img"
      %>
  <% else %>
    <img
    data-commons-image
    data-name="<%= j @recipe.name %>"
    alt="<%= h @recipe.name %>"
    loading="lazy"
    class="banner-img">
  <% end %>
    <%= link_to :back, class: "btn btn-secondary banner-back-button" do %>
      <i class="fa-solid fa-arrow-left fa-lg"></i>
    <% end %>
  </div>
  <div class="container mt-3 mb-5">
    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-between item-align-center">
          <span class="badge text-bg-cSeaGreen h-50 w-50 my-1 rounded-pill">
            <i class="fa-regular fa-clock"></i>
            <%= @recipe.duration %>
            Minutes
          </span>
          <div class="d-flex">
            <div id="like_button_<%= @recipe.id %>">
              <%= render "like_button", recipe: @recipe %>
            </div>
            <div id="favorite_button_<%= @recipe.id %>">
              <%= render "favorite_button", recipe: @recipe %>
            </div>
            <div>
              <%= render "review_offcanvas" %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <h3 class="text-cWhite mt-3"><%= @recipe.name %></h3>
      </div>
      <div class="col-6">
        <p class="text-cWhite text-start"><%= @recipe.cuisine%></p>
      </div>
      <div class="col-6">
        <p class="text-cWhite text-end"><%= @recipe.diet %></p>
      </div>
      <div class="col-12">
        <div class="text-cWhite" style="white-space: pre-line;">
          <%= @recipe.directions&.html_safe %>
        </div>
      </div>
    </div>
    <h3 class="text-light">Ingredients</h3>
    <div class="d-flex mt-3" style="overflow-y:auto">
      <% @recipe.ingredients.each do |name, amount| %>
        <div class="ingredient-container mx-2 h-25 flex-column">
          <% prompt = "give me a realistic image of the FOOD #{name}, only FOOD(fruits etc)." %>
          <%= image_tag "https://image.pollinations.ai/prompt/#{ERB::Util.url_encode(prompt)}", class: "ingredient rounded-circle" %>
          <div class="recipe-ingredient-text">
            <p class="text-light mt-2 mb-0 recipe-name-text"><%= name.capitalize %></p>
            <p class="recipe-amount-text"><%= amount %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
