<div>
  <%= month_calendar events: schedules, attribute: :date, url: schedules_path do |date, schedules_day| %>
    <div class="day calendar-day position-relative" data-action="click->scheduler#calendarEvent">
      <%= date.day %>
      <% if schedules_day.count > 0 %>
        <span class="badge text-bg-cYellow rounded-circle position-absolute calendar-badge" style="top: 3px; right: 0;">
          <%= schedules_day.count %>
        </span>
      <% end %>
      <div class="calendar-event">
        <% schedules_day.each do |schedule| %>
          <div data-recipe="<%= recipe_path(schedule.recipe) %>" data-name="<%= schedule.recipe.name %>"></div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
