<div class="container">
  <h2 class="text-cWhite mt-5 mb-4">Your Meal Plan</h2>
  <%= link_to "Add to Meal Plan", "#",
    class: "btn btn-cYellow mb-3",
    data: { bs_toggle: "collapse", bs_target: "#collapseExample" } %>
  <div class="text-cWhite collapse bg-cGray p-2 rounded-4" id="collapseExample">
    <%= simple_form_for @schedule, url: schedule_path do |f| %>
      <%= f.input :date, as: :string, input_html: { class: "form-control", data: { controller: "datepicker" } } %>
      <%= f.input :recipe_id, as: :select, collection: Recipe.all, prompt: "Select a recipe", input_html: { class: "form-select" } %>
      <%= f.submit "Create Schedule", class: "btn btn-cYellow w-100" %>
    <% end %>
  </div>
  <div class="mt-4">
    <%= month_calendar events: @schedules, attribute: :date do |date, schedules| %>
      <div class="day">
        <strong><%= date.day %></strong>
        <% schedules.each do |schedule| %>
          <div class="event">
            <%= link_to schedule.recipe.name, recipe_path(schedule.recipe) %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
