<div class="scan-recipe-container">
  <div class="scan-header m-3 my-4">
    <h1>Here are your recipes!</h1>
  </div>
  <h5 class="scan-header mx-3">Favorite the ones you like for later</h5>
  <div class="scan-cards container">
    <section class="fd-grid" aria-label="Recipes">
      <div class="row g-2 mt-4 row-cols-2">
        <% @scan.recipes.each_with_index do |recipe, index| %>
          <div class="col mb-1 <%= index.even? ? "pe-2" : "ps-2" %>">
            <div class="show-card">
              <%= link_to scan_recipe_path(recipe.scan_id, recipe),
            class: "text-decoration-none" do %>
                <div>
                  <div>
                    <% if recipe.photo.attached? %>
                      <%= cl_image_tag recipe.photo.key, height: 300, width: 400,
                        crop: :fill,  class: "show-card-image rounded-circle" %>
                    <% end %>
                  </div>
                  <div class="show-card-recipe flex-column p-1">
                    <div class="show-recipe-text text-center fs-6">
                      <p><%= recipe.name %></p>
                      <span class="scan-recipe-duration">
                        <i class="fa-regular fa-clock"></i>
                        <%= recipe.duration %> Min
                      </span>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </section>
  </div>
</div>
