<%= image_tag "background_2.jpg", class: "background" %>
<div class="d-flex align-items-center justify-content-center all-page">
  <div class="box w-custom rounded-5 p-5 mx-auto ">
    <div class=" mx-auto w-75">
      <h2 class="fw-semibold">Log in</h2>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="mt-4">
          <!-------- email password  input------>
          <%= f.input :email,
                  required: false,
                  label: false,
                  autofocus: true,
                  input_html: { placeholder: "Email", autocomplete: "email", class: "pill-input" } %>
          <%= f.input :password,
                required: false,
                label: false,
                input_html: { placeholder: "current-password", autocomplete: "current-password", class: "pill-input margin-0" } %>
          <!-----  remember me   ----->
          <% if devise_mapping.rememberable? %>
            <div class="form-check mt-2 remember-me">
              <%= f.check_box :remember_me, class: "form-check-input", id: "rememberMe" %>
              <%= f.label :remember_me, "Remember me", class: "form-check-label", for: "rememberMe" %>
            </div>
          <% end %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Log in", class: "btn yellow-color mt-3 w-100 mb-3" %>
        </div>
      <% end %>
      <!-------------- sign up ---------------->
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
