<!DOCTYPE html>
<html>
  <head>
    <title>Foodly</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <%= render 'shared/ios_pwa_links' %>
  </head>
  <body class="bg-cBlack">
    <%= render "shared/flashes" %>
    <%= yield %>
    <% unless current_page?(new_user_session_path) || current_page?(root_path) || current_page?(new_user_registration_path) %>
      <%= render "shared/floatingButton" %>
    <% end %>
  </body>
</html>
